@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus{
outline: 2px solid #00000062;
}
.error-input{
  outline: 2px solid #ff0000a3;
}
.success-input{
  outline: 2px solid #00ff1e62;
}
.input-size{
  width: 450px;
}
.dashboard-nav-scroll::-webkit-scrollbar{
  width: 0px;
}
.loading{
  animation:loading infinite 1s  running  normal; 
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transition: 1s all ease-in;
    transform: rotate(360deg);
  }
}
/* Home Grid */
.h-grid{
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}

