@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus{
outline: 2px solid #00000062;
}
.error-input{
  outline: 2px solid #ff0000a3;
}
.success-input{
  outline: 2px solid #00ff1e62;
}
.modal-bg{
  background: #000000b8;
}
.input-size{
  width: 450px;
}
.dashboard-nav-scroll button:hover{
 background: black;
 border: none;
 transition: 0.5s all ease-in;
 color: white;
}

/* .dashboard-nav-scroll::-webkit-scrollbar{
  width: 0px;
} */
.loading{
  animation: 1s infinite  running  alternate loading; 
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transition: 1s all ease-in;
    transform: rotate(360deg);
  }
}
/* Home Grid */
.h-grid{
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
.email-input-data{
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-between;
}
.pro{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 40% 40%;
}

/* Skeleton Loading */
.dash-home-skeleton{
  width: 80%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% 30% 30%;
  margin-top: 30px;
}

.animate-skeleton {
  animation:1s infinite alternate  skeleton;
}



@keyframes skeleton {
  0%{
    background: #d2d2d2;
    transition: linear 0.9s ease-in all;
  }
  50%{
    background: #bdbdbd;
        transition: linear 0.9s ease-in all;
  }
100%{
  background: #dbdbdb;
      transition: linear 0.9s ease-in all;
}
  
}

/* Joined, route = dashboard/play/username */
.notificationStyle{
width: 300px;
  padding: 10px 0;
  position: absolute;
  background: black;
}
.notjoined{
  opacity: 0;
  top: -70px;
  
}
.joined{
  top: 0;
  opacity: 1;
   transform: translate3d(0, 0, 0);
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}
/* Tickatoedesign */
.tick-tack-toe_p_div{
  width: 300px;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;

}
.tick-tack-toe_p_div div{
  border: 1px solid black;
  height: 100px;
}
/* top */
.tick-tack-toe_p_div .box-0, 
.tick-tack-toe_p_div .box-1,.tick-tack-toe_p_div .box-2{
  border-top: none;
}
/* bottom */
.tick-tack-toe_p_div .box-6, 
.tick-tack-toe_p_div .box-7,.tick-tack-toe_p_div .box-8{
 border-bottom:none;
}
/* left */
.tick-tack-toe_p_div .box-0, 
.tick-tack-toe_p_div .box-3,.tick-tack-toe_p_div .box-6{
 border-left: none;
}
/* right */
.tick-tack-toe_p_div .box-2, 
.tick-tack-toe_p_div .box-5,.tick-tack-toe_p_div .box-8{
  border-right: none;
}
.stroke-top, .stroke-horinzontal_middle, .stroke-bottom, .stroke-left,
.stroke-vertical_middle, .stroke-right, .stroke-cross_left, .stroke-cross_right
{
  position:absolute;
  width:300px;
  height: 5px;
  background:black;
  transition-property:width;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.stroke-top{
 top: 50px;
}
.stroke-bottom{
  bottom:43px;
}
.stroke-right{
  transform:rotate(90deg);
  left: 100px;
}
.stroke-left{
  transform: rotate(90deg);
  right: 100px;
}
.stroke-vertical_middle{
  transform: rotate(90deg);
}
.stroke-cross_left{
  transform: rotate(45deg);
}
.stroke-cross_right{
  transform: rotate(-45deg);
}

.gameSendingIndicator{
  width:100px;
  height: 5px;
  border: 1px solid #3e3e3e;
  overflow: hidden;
}
.gameSendingIndicator span{
  display:block;
  width: 40px;
  height:100%;
  background:black;
  animation: gameIndicator infinite 1s running normal;
}
@keyframes gameIndicator {
  0%{
    transform: translateX(-50px);
  }
  100%{
    transform: translateX(50px);
  }
}

@media (max-width:950px){
  .h-grid{
    width: 80%;
  grid-template-columns: 45% 45%;
}

.pro{
  grid-template-columns: 45% 45%;
}
.pro h1{
  font-size: 2rem;
   font-weight: 400;
}
.dash-home-skeleton{
  grid-template-columns: 45% 45%;
}
}


@media (max-width:650px){
  .h-grid{
    grid-template-columns: 100%;
  }
  .pro{
    grid-template-columns: 100%;
  }
  .dash-home-skeleton{
    grid-template-columns: 100%;
  }
}
@media (max-width:500px){
 .input-size{
 width: 95%;
 }
 
}

@media (max-width:300px) {
  .tick-tack-toe_p_div{
    width: 250px;
  }
  
}